html {
    font-size: 62.5%;
    /* Reset para REMS - 62.5% = 10 px de 16px */
    box-sizing: border-box;
    /* Aquí usamos un "snipped", lo que hacemos en nuestra web, es que el padding
    no afecte al tamaño que le damos a nuestras etiquetas, botones etc, Siempre nos respetará
    el tamaño que hemos puesto sin que el padding nos modifique el tamaño. */
}

*,
*:before,
*:after {
    /* Esto es parte del "snipped" para que el padding no nos afecte al tamaño */
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2.5rem;
}


/** Globales **/

img {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    /* =1200px */
    margin: 0 auto;
    /* La disposicion es como las agujas del reloj, a las 12, 15, 18, 21, 00*/
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


/** UTILIDADES **/

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    /* framework, para cambiar el grosor de las letras */
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.d-block {
    /* Para que de prioridad al CSS, se añade !important, asi priorizamos sobre la clase
    para que tome le valor que queremos que tenga a nivel general */
    display: block!important;
    /* Esto se coloca, porque la prioridad siempre es de arriba hacia abajo en el CSS */
}

/*Flecha para hacer scroll*/

#flecha{
    background-image: url('img/flecha.svg');
    width:40px;
    height:40px;
    border-radius: 50%;
    background:#ffff;
    opacity: 0.3;
    position:fixed;
    cursor: pointer;
}

#flecha:hover{
    opacity: 1;
}

/* Botones */

.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    display: inline-block;
    /* En botones hechos con la etiqueta <a>, se usa display inline por defecto
    por lo que si ponemos inline-block podemos utilizar margin */
    margin-top: 2rem;
    text-align: center;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

.boton-amarillo {
    background-color: #E08709;
}

.boton-verde {
    background-color: #71B100;
}


/* HEADER*/

.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {
    background: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    /*vh se usa para adaptar la altura al de la pantalla que se esta visualizando*/
    min-height: 60rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 5rem;
    /* Interlineado */
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}


/*Estilos de la web de contacto*/
form p{
    font-size: 1.4rem;
    color: #333333;
    margin: 2rem 0 0 0;
}
legend{
    font-size: 2rem;
    color: #333333;
}

label{
    display: block;
    font-weight: 400;
    text-transform: uppercase;

}

/**************************************


/* NAVEGACION */

.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
    /* =18px */
    margin-right: 2rem;
}

.navegacion a:hover {
    color: #71b100;
}

.navegacion a:last-of-type {
    /* Esto nos hace mejorar el aspecto del margen del ultimo elemento */
    margin-right: 0;
}


/* Iconos Nosotros */

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: calc(33.3% - 1rem);
    /* Para dar ancho a los flex, el calc no sirve para hacer cálculos exactos. */
    text-align: center;
}

.icono h3 {
    text-transform: uppercase;
    /* Este atributo nos permite transformar facilmente a otros aspectos. */
}

/** Anuncios **/

.contenedor-anuncios {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.anuncio {
    flex-shrink: 0;
    /* Esta propiedad hace que no se encoja las imagenes */
    flex-basis: calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 1rem;
}

.precio {
    color: #71B100;
    font-weight: 700;
}

.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    flex: 1;
}

.iconos-caracteristicas li {
    /*flex: 1;*/
    display: flex;
}

.iconos-caracteristicas li img {
    margin-right: 2rem;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}
/**************************************************************************/
/** Contanto Home **/

.imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contenido-contacto {
    /* Esto nos divide el espacio entre el contenido que hay, para dejarlo ordenado. */
    flex: 1;
    color: #ffffff;
}

.contenido-contacto p {
    font-size: 1.8rem;
}


/** Seccion inferior **/

.seccion-inferior {
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog {
    flex-basis: 60%;
}

.seccion-inferior .testimoniales {
    flex-basis: calc(40% - 2rem);
}

.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}

.entrada-blog .imagen {
    flex-basis: 40%;
}

.entrada-blog .texto-entrada {
    flex-basis: calc(60% - 3rem);
}

.texto-entrada a {
    color: #000000;
    text-decoration: none;
}

.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
}

.texto-entrada h4::after {
    /* "Pseudoelementos, sirven para visualizar algo, pero no existen en el codigo" */
    content: '';
    /* Si no queremos texto, se pone vacio. */
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;
    margin-top: 1rem;
}

.texto-entrada span {
    color: #E08709;
}

/** ANUNCIO **/

.resumen-propiedad {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/** CONTACTO **/

form p {
    font-size: 1.4rem;
    color: #333333;
    margin: 2rem 0 0 0;
}

legend {
    font-size: 2rem;
    color: #333333;
}

label {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
}

input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

input[type="radio"] {
    width: auto;
    margin: 0;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    height: 20rem;
}

.forma-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
